
.is-fullheight-100vh{
    height: 100vh;
}

footer{
    background-color: gray;
    color: wheat;
    padding-bottom: 0;
}

.column{
    margin-top: 0rem;
    margin-left: .3rem;
    margin-right: .3rem;
    margin-bottom: -0.75rem;
}

#event-cards{
    margin:20px;
    border: solid 1px;
    display: flex;
    flex-wrap: wrap;
}

.section {
flex-basis: 20%;
border: solid 1px;
}

#wish-list{
    margin:20px;
    border: solid 2px;
}